#cart{
    padding: 6px;
    justify-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: -12px;
} 
#cart-img{
    height: 36px;
    width: 36px;
}
#cart-img:hover{
    filter: invert(48%) sepia(46%) saturate(455%) hue-rotate(335deg) brightness(95%) contrast(86%);
}
#cart-wrapper{
    position: absolute;
    height: 200px;
    width: 100px;
    background-color: #E7D4B5;
    border-radius: 12px;
    color: white;
    padding: 12px;
    font-size: 24px;
    top: 10%;
}