#side-nav{
    background-color: #705C53;
    height: auto;
    width: 0;
    position: absolute;
    z-index: 2;
    transition: 1.5s ease-in-out;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-block: 12px;
    padding-inline: 24px;
    gap: 12px;
    overflow: hidden;
}
#close-side{
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 6px;
    transition: 0.5s ease-in-out;
}
#close-img{
    height: 28px;
    width: 28px;
    filter: invert(98%) sepia(7%) saturate(1990%) hue-rotate(314deg) brightness(93%) contrast(94%);
    transition: 0.5s ease-in-out;
}
#category-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 4px solid #E7D4B5;
    border-radius: 12px;
    width: 100%;
    padding: 12px;
    transition: 0.5s ease-in-out;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 24px;
}
#category{
    padding: 12px;
    font-family: "VT323", monospace;
    letter-spacing: 2px;
    font-size: 38px;
    color: #E7D4B5;
    width: 100%;
    text-align: center;
    transition: 0.5s ease-in-out;
}
#product-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding-inline: 12px;
    gap: 18px;
    transition: 0.5s ease-in-out;
    border-bottom: 4px solid #E7D4B5;
    padding-bottom: 12px;
    flex-wrap: wrap;
}
#product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #E7D4B5;
    width: 250px;
    height: auto;
    font-family: "VT323", monospace;
    letter-spacing: 2px;
    font-size: 24px;
    color: #705C53;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 2px#333;
    transition: 0.5s ease-in-out;
}
#product h3{
    font-size: 28px;
    margin-top: 12px;
    text-align: center;
    transition: 0.5s ease-in-out;
}
#product-img{
    height: 128px;
    width: 128px;
    margin-top: -12px;
    margin-bottom: 12px;
    transition: 0.5s ease-in-out;
}
#product h4{
    font-size: 28px;
    font-weight: normal;
    transition: 0.5s ease-in-out;
}
#buy-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 24px;
    height: 40px;
    margin-bottom: 12px;
    transition: 0.5s ease-in-out;
}
#add-cart{
    height: 32px;
    width: 32px;
    transition: 0.5s ease-in-out;
}
#add-btn{
    height: 32px;
    width: 32px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
#espressoheart, #latteheart, #macchiatoheart, #cappheart{
    height: 32px;
    width: 32px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    filter: invert(34%) sepia(16%) saturate(592%) hue-rotate(334deg) brightness(101%) contrast(83%);
    transition: 0.5s ease-in-out;
}
#chocomilkheart, #matchamilkheart, #taromilkheart, #mochamilkheart{
    height: 32px;
    width: 32px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    filter: invert(34%) sepia(16%) saturate(592%) hue-rotate(334deg) brightness(101%) contrast(83%);
    transition: 0.5s ease-in-out;
}
#chocoprafheart, #matchaprafheart, #taroprafheart, #mochaprafheart{
    height: 32px;
    width: 32px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    filter: invert(34%) sepia(16%) saturate(592%) hue-rotate(334deg) brightness(101%) contrast(83%);
    transition: 0.5s ease-in-out;
}
#berryhalohaloheart, #chocohalohaloheart, #tarohalohaloheart, #classichalohaloheart{
    height: 32px;
    width: 32px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    filter: invert(34%) sepia(16%) saturate(592%) hue-rotate(334deg) brightness(101%) contrast(83%);
    transition: 0.5s ease-in-out;
}

@media screen and (max-width: 480px) {
    #side-nav{
        width: inherit;
        justify-content: center;
        align-items: center;
        padding-block: 12px;
        padding-inline: 9px;
    }
    #category-wrapper{
        width: inherit;
        flex-direction: column;
        margin-bottom: 24px;
    }
    #category{
        width: inherit;
    }
    #product-wrapper{
        flex-direction: column;
        width: inherit;
    }
    #product{
        width: 180px;
    }
    #product h3{
        font-size: 24px;
    }
    #product-img{
        height: 80px;
        width: 80px;
    }
    #product h4{
        font-size: 22px;
    }
    #add-cart{
        height: 24px;
        width: 24px;
    }
    #add-btn{
        height: 24px;
        width: 24px;
    }
    #close-side{
        width: 100%;
        padding: 0;
    }
    #close-img{
        height: 18px;
        width: 18px;
        padding-left: 6px;
    }
    #espressoheart, #latteheart, #macchiatoheart, #cappheart,
    #chocomilkheart, #matchamilkheart, #taromilkheart, #mochamilkheart,
    #chocoprafheart, #matchaprafheart, #taroprafheart, #mochaprafheart,
    #berryhalohaloheart, #chocohalohaloheart, #tarohalohaloheart, #classichalohaloheart{
        height: 24px;
        width: 24px;
    }
}