body{
    margin: 24px;
    display: flex;
    flex-direction: column;
    font-family: "VT323", monospace;
    height: auto;
}
.header{
    background-color: #705C53;
    height: 60px;
    padding: 12px;
    width: inherit;
    display: flex;
    align-items: center;
    gap: 24px;
}
#open-side{
    height: 48px;
    width: 48px;
    cursor: pointer;
}
#open-img{
    height: 48px;
    width: 48px;
}
#brand-wrapper{
    min-width: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}
#brand{
    height: 64px;
    width: 64px;
    justify-self: center;
    align-items: center;
}
#brand-logo{
    height: 64px;
    width: 64px;
}
#brand-text{
    color: #E7D4B5;
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
#search-wrapper{
    min-width: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}
#search-button{
    color: #E7D4B5;
    margin-left: -2px;
    padding: 8px;
    border: 2px solid #E7D4B5;
    border-radius: 0px 12px 12px 0px;
    display: flex;
    align-items: center;
}
#button-img{
    height: 26px;
    width: 26px;
}
#search-box{
    padding: 12px;
    border: 2px solid #E7D4B5;
    outline: none;
    border-radius: 12px 0px 0px 12px;
    background-color: transparent;
    font-family: "VT323", monospace;
    color: #E7D4B5;
    letter-spacing: 2px;
    font-size: 18px;
    min-width: 200px;
}
#search-box::placeholder{
    font-family: "VT323", monospace;
    letter-spacing: 2px;
    font-size: 18px;
    color: #E7D4B5;
}
#search-box::-webkit-search-cancel-button{
    display: none;
}
#header-space{
    padding: 12px;
    flex: 4;
}
/*Contents*/
.content{
    background-image: linear-gradient(to bottom, #E7D4B5 , #A0937D 50%);
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}
#promo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
}
#promo-wrapper, #text-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-block: 12px;
    width: 320px;
}
#text-wrapper{
    justify-content: center;
}
#promo-wrapper{
    justify-content: center;
}
#main-promo{
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
}
#promo-img{
    height:300px;
    width: 300px;
    animation: grow 2s linear infinite;
    transition: 2s ease-in-out;
}
@keyframes grow{
    0%{
        width: 300px;
        height: 300px;
    }
  
    25%{
        width: 305px;
        height: 305px;
    }
    50%{
        width: 310px;
        height: 310px;
    }
    75%{
        width: 305px;
        height: 305px;
    }
    100%{
        width: 300px;
        height: 300px;
    }
}
#promo-text{
    letter-spacing: 2px;
    font-size: 24px;
    color: #705C53;
    width: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    padding: 12px;
    text-align: center;
}
#float-logo{
    height: 64px;
    width: 64px;
    animation: floatgrow 2s linear infinite;
    transition: 2s ease-in-out;
}
#float-logo:hover, #letter-logo:hover{
    filter: saturate(0);
    transition: 0.5s ease-in-out;
}
@keyframes floatgrow{
    0%{
        width: 64px;
        height: 64px;
    }
  
    25%{
        width: 65px;
        height: 65px;
    }
    50%{
        width: 66px;
        height: 66px;
    }
    75%{
        width: 65px;
        height: 65px;
    }
    100%{
        width: 64px;
        height: 64px;
    }
}
#logo-span, #letter-span{
    padding: 12px;
    flex: 1;
    text-align: center;
    font-size: 24px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
#letter-span{
    width: 200px;
    justify-content: center;
}
#letter-span a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #705C53;
    font-size: 28px;
}
#letter-logo{
    margin-block: -24px;
    padding-inline: 24px;
    animation: lettergrow 2s linear infinite;
    transition: 2s ease-in-out;
}
@keyframes lettergrow{
    0%{
        width: 100px;
        height: 100px;
    }
  
    25%{
        width: 101px;
        height: 101px;
    }
    50%{
        width: 102px;
        height: 102px;
    }
    75%{
        width: 101px;
        height: 101px;
    }
    100%{
        width: 100px;
        height: 100px;
    }
}
/*Best Sellers*/
#seller-text{
    border: 4px solid #E7D4B5;
    font-family: "VT323", monospace;
    letter-spacing: 2px;
    font-size: 14px;
    color: #705C53;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}
#best-wrapper{
    padding: 12px;
    border-bottom: 4px solid #E7D4B5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 12px;
}
#best-seller1, #best-seller2, #best-seller3, #best-seller4{
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 300px;
    max-height: 300px;
    min-width: 300px;
    max-width: 300px;
    background-color: #E7D4B5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 2px#333;
}
#best-product{
    color: #705C53;
    font-size: 32px;
    font-weight: normal;
    width: 160px;
    text-align: center;
    margin-top: -12px;
}
#best-img{
    height: 128px;
    width: 128px;
    margin-top: -12px;
    animation: bestgrow 2s linear infinite;
    transition: 2s ease-in-out;
}
@keyframes bestgrow{
    0%{
        width: 128px;
        height: 128px;
    }
  
    25%{
        width: 130px;
        height: 130px;
    }
    50%{
        width: 132px;
        height: 132px;
    }
    75%{
        width: 130px;
        height: 130px;
    }
    100%{
        width: 128px;
        height: 128px;
    }
}
#best-btn{
    padding: 12px;
    margin-top: 12px;
    background-color: #A0937D;
    border-radius: 12px;
    color: #E7D4B5;
    width: 160px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#best-btn:hover{
    background-color: #705C53;
    color: #E7D4B5;
}
#view-more{
    background-color: #A0937D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#more-btn{
    font-family: "VT323", monospace;
    letter-spacing: 2px;
    font-size: 26px;
    color: #705C53;     
    padding-inline: 12px;
    cursor: pointer;    
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-weight: bold;
}
#more-btn h1{
    font-size: 48px;
    color: #FABC3F;
}
#more-btn h3{
    font-size: 33px;
    color: #FABC3F;
}
.footer{
    background-color: #705C53;
    padding: 24px;
    height: inherit;
    width: inherit;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#footer-box1, #footer-box2, #footer-box3{
    height: 300px;
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    font-family: "VT323", monospace;
    letter-spacing: 2px;
    font-size: 24px;
    color: #E7D4B5;
    flex-wrap: wrap;
}
#footer-box1, #footer-box2{
    border-right: 4px solid #E7D4B5;
}